.inputWrapper {
  position: relative;

  padding-bottom: 0;

  transition: padding-bottom 0.12s ease-out;

  line-height: 1;
}

.wrapperError {
  padding-bottom: 20px;
}

.input {
  width: 100%;
  padding: 7px 15px;

  transition: all 0.22s ease-out;

  color: var(--black);
  border: none;
  border-radius: 5px;

  outline: none;
  background: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 22px;
}

.input::placeholder {
  color: var(--grey);
}

.input:focus,
.input:hover {
  box-shadow: 0 4px 4px rgba(118, 83, 252, 0.4);
}

.error {
  border: 1px solid var(--red);
  box-shadow: 0 4px 4px rgba(252, 131, 109, 0.05);
}

.input.error:focus,
.input.error:hover {
  box-shadow: 0 4px 4px rgba(252, 131, 109, 0.4);
}

.errorMsg {
  position: absolute;
  bottom: -6px;
  left: 0;

  color: var(--red);
}
