.textareaWrapper {
  position: relative;

  padding-bottom: 0;

  transition: padding-bottom 0.12s ease-out;
}

.wrapperError {
  padding-bottom: 20px;
}

.textarea {
  width: 100%;
  padding: 7px 15px;

  transition: box-shadow 0.22s ease-out;

  color: var(--black);
  border: none;
  border-radius: 5px;

  outline: none;
  background: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 22px;
}

.textarea::placeholder {
  color: var(--grey);
}

.textarea:focus,
.textarea:hover {
  box-shadow: 0 4px 4px rgba(118, 83, 252, 0.4);
}

.error {
  border: 1px solid var(--red);
}

.errorMsg {
  position: absolute;
  bottom: -2px;
  left: 0;

  color: var(--red);
}
