.firstLevel {
  display: grid;
  align-items: center;

  margin-top: 20px;

  transition: color 0.16s ease-in-out;

  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  grid-template-columns: 24px 1fr;
  gap: 20px;
}

.firstLevel svg {
  transition: fill 0.16s ease-in-out;
}

.firstLevelActive,
.firstLevel:hover {
  color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
  fill: var(--primary);
}

.secondLevelWrapper {
  margin-top: 15px;
  margin-left: 12px;
  padding: 10px 0 10px 32px;

  border-left: 1px solid #DFDFDF;
}

.secondLevel {
  cursor: pointer;
  text-transform: uppercase;

  color: var(--grey-dark);

  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
}

.secondLevel:first-child {
  margin-top: 5px;
}

.secondLevel:not(:first-child) {
  margin-top: 12px;
}

.secondLevel:not(:last-child) {
  margin-bottom: 5px;
}

.secondLevelBlock {
  overflow: hidden;
}

.thirdLevel {
  display: block;

  padding: 5px 0;

  cursor: pointer;

  transition: color 0.16s ease-out;

  color: var(--grey-dark);

  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.thirdLevelActive,
.thirdLevel:hover {
  color: var(--primary);
}
