.review {
  display: grid;

  align-items: baseline;

  font-size: 14px;
  line-height: 24px;
  grid-template-columns: [start] auto 1fr auto [end];
  gap: 24px 30px;
}

.rating {
  display: flex;
  align-items: center;
}

.formRating {
  line-height: 1;
}

.rating > span {
  margin-right: 20px;
}

.title {
  justify-self: flex-start;
}

.description {
  grid-column: start / end;

  min-height: 80px;
}

.submit {
  grid-column: start / end;
}

.info {
  margin-left: 15px;
}

.panel {
  position: relative;

  margin-top: 20px;
  padding: 20px;

  border-radius: 5px;
}

.success {
  background-color: var(--green-light);
}

.successTitle {
  font-weight: bold;
}

.error {
  background-color: var(--red-light);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;

  cursor: pointer;
}

.error .close {
  stroke: var(--red);
}

@media screen and (max-width: 1100px) {
  .review {
    grid-template-columns: [start] 1fr 1fr [end];
  }

  .title {
    justify-self: normal;
  }

  .rating {
    justify-content: space-between;
  }
}

@media screen and (max-width: 640px) {
  .review {
    grid-template-columns: [start] 1fr [end];
  }
}
