@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
  --black: #3B434E;
  --grey: #A4A4A4;
  --grey-light: #EBEBEB;
  --grey-dark: #787D85;
  --white: #FFF;
  --primary: #7653FC;
  --primary-hover: #6344DF;
  --primary-active: #5135BB;
  --red-light: #FFCCC3;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --font-family: "Open Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background-color: #F5F6F8;

  font-family: var(--font-family);
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}
